.Meenu{
    
    display: flex;
    justify-content: end;
    margin-right: 3%;
    margin-top: 2%;
}
.option{
    margin: 15px;
    text-decoration: none;
    color: black;
}

.option:hover{
    background-color:yellow;
}



