.DropdownMeenu{
   
    width: 400px;
    z-index: 3;
    position: fixed;
    top: 50px;
    right: 0;
    height: 100%;
    display: grid;
    background-color:white;
    animation: rigtToLeft 1.2s both;    
}

.links-dropdown{
    display: flex;
    flex-direction: column; 
    margin-top: 160px;  
      
}

.link-dropdown{
    margin: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    
}


 .link-dropdown:hover{
    background-color: yellow;
    cursor: pointer;
    
    
}

@keyframes rigtToLeft {
    from{
       right: -130px;
    }
   to {
    right: 0.5vh;
   }
  }